.footer{
    background-color: #404040;
    color: azure;
    font-size: medium;
    vertical-align: -webkit-baseline-middle;
    grid-row: auto;
    padding: 5px;
}

.footer_margin{
    margin-left: 5px;
}

.list{
    list-style-type: none;
}

.line{
    background-color: white;
    line-height: 1px;
}